<div class="Heading">
   {{topicName}}

   <div class="SubHeadingText">
        ngIf, ngFor, ngSwitch
   </div>
</div>


<div class="Row">
   <div class="ContainerAccentOrange CentreText SubHeadingText">{{this.div1}}</div>
   <div class="ContainerAccentOrange CentreText SubHeadingText">{{this.div2}}</div>
   <div class="ContainerAccentOrange CentreText SubHeadingText">{{this.div3}}</div>
   <div class="ContainerAccentOrange CentreText SubHeadingText">{{this.div3}}</div>
</div>

<div class="Row-Light">
   <div class="ContainerAccentLightOrange">
      <Button class="ButtonDanger">Hide</Button>
      <Button class="ButtonSuccess">Show</Button>
   </div>
   <div class="ContainerAccentLightOrange">
      <Button class="ButtonSuccess">Toggle</Button>
   </div>
   <div class="ContainerAccentLightOrange">
     <input class="TextField" type="number" placeholder="Number-1">
     <input class="TextField" type="number" placeholder="Number-2">
   </div>
   <div class="ContainerAccentLightOrange">
      <input type="checkbox">
      <select class="DropDownModal" name="" id="">
         <option value="India">India</option>
         <option value="Bangladesh">Bangladesh</option>
         <option value="Pakistan">Pakistan</option>
         <option value="China">China</option>
         <option value="Russia">Russia</option>
      </select>
   </div>
</div>